{% extends "layout.njk" %}

{% block head %}
    <title>{{ item.title }} - Diego Nascimento</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
{% endblock%}

{% block content %}
    
    <div id="wrapper" class="movie">
        <h1>{{item.title}}</h1>
    </div>

    <section class="movie">        
        
        <div class="cards" id="{{item.id}}">
            <div class="cards__movie-container">
                <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
            </div>

            <div class="card__content">
                <p>{{item.title}}</p>
            </div>

            <div class="card__info">
                <p class="card__min">{{item.duration}}</p>
                <p class="card__price">{{item.price}}</p>
            </div>
        </div>        

    </section>    

{% endblock %}       